extends ../../../layout

block title
	title= 'КОНТЕНТ РАЗДЕЛА: ' + content.ru.title.toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/edit_content.css' + version)
	link(rel="stylesheet", type="text/css", href="/styles/font-awesome/css/font-awesome.min.css" + version)
	link(rel="stylesheet", type="text/css", href="/styles/popclip.css" + version)

block content_scripts
	script(type="text/javascript", src='/scripts/jquery.popline.min.js' + version)
	script(type="text/javascript", src='/scripts/jquery-ui-1.10.3.custom.min.js' + version)
	script(type='text/javascript', src='/scripts/edit_content.js' + version)

block content
	.content_title= content.ru.title.toLowerCase()
	.sections_block
		if (content.ru.sections.length > 0)
			each section in content.ru.sections
				.section_block
					.section_title(contenteditable=true)= section.title
					.section_content
						each content in section.content
							.content_section_block
								.content_section_menu
									.menu_hide скрыть
									.menu_remove удалить
								.content_section_title(contenteditable=true)= content.title
								.content_section_description(contenteditable=true)!= content.description
								.content_section_ticket(contenteditable=true)!= content.ticket
						.add_content Добавить блок
					.section_under(contenteditable=true)!= section.under
		else
			.section_block
				.section_title(contenteditable=true) Заголовок секции
				.section_content
					.content_section_block
						.content_section_menu
							.menu_hide скрыть
							.menu_remove удалить
						.content_section_title(contenteditable=true) Заголовок
						.content_section_description(contenteditable=true) Описание
						.content_section_ticket(contenteditable=true) Тикет
					.add_content Добавить блок
				.section_under(contenteditable=true) Футер секциии
	.submit СОХРАНИТЬ
