extends ../layout

block title
	title= member.ru.name.toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/members.css')

block content_scripts
	//- script(type='text/javascript', src='/scripts/main.js')
	script(type='text/javascript', src='/scripts/back.js')

block content_right

block content
	img(src=member.img)
	.name= member.ru.name
	.events События:
		each event in events
			br
			a(href='/event/' + event._id)
				b= event.ru.title
			br
	.description= member.ru.description