extends ../layout

block title
	title РАСПИСАНИЕ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')
	link(rel='stylesheet', type='text/css', href='/styles/pickmeup.min.css')
	link(rel='stylesheet', type='text/css', href='/styles/schedule.css')

block content_scripts
	script(type='text/javascript', src='/scripts/jquery.pickmeup.min.js')
	script(type='text/javascript', src='/scripts/schedule.js')

block content
	.calendar
	-	var now = new Date()
	.schedule_title= 'События на: ' + now.getDate() + '-' + now.getMonth() + '-' + now.getFullYear()
	.events
		each item in schedule
			.event(class=item._id, class=item.date.getDate() + '-' + item.date.getMonth() + '-' + item.date.getFullYear())
				button.event_delete удалить
				button.event_transfer перенести
				label
					input(type='checkbox', checked=item.meta.banner==true, value='true')
					span баннер
				label
					input(type='checkbox', checked=item.meta.premiere==true, value='true')
					span премьера
				select.event_hours
					option(value='') Часы
					- for (var i=0; i<24; i++)
						option(value=i, selected=(item.date.getHours() == i))= i
				select.event_hours
					option(value='') Минуты
					- for (var i=0; i<=50; i+=10)
						- var mm = (i == 0 ? '00' : i)
						option(value=mm, selected=(item.date.getMinutes() == i))= mm
				span.event_title= item.event.ru.title.length <= 43 ? item.event.ru.title : item.event.ru.title.slice(0, 43) + '...'

	button.event_add Добавить событие
	.new_event
		label
			input.new_event_banner(type='checkbox', value='true')
			span баннер
		label
			input.new_event_premiere(type='checkbox', value='true')
			span премьера
		select.new_event_hours
			option(value='') Часы
			- for (var i=0; i<24; i++)
				option(value=i,)= i
		select.new_event_minutes
			option(value='') Минуты
			- for (var i=0; i<=50; i+=10)
				- var mm = (i == 0 ? '00' : i)
				option(value=mm, )= mm
		select.new_event_id
			option(value='') -- События
			each event in events
				option(value=event._id)= event.ru.title.length <= 43 ? event.ru.title : event.ru.title.slice(0, 43) + '...'
		br
		button.event_add_submit добавить