extends ../../../layout

block title
	title РЕДАКТИРОВАТЬ УЧАСТНИКА

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add.js')

block content_right
	.navigator
		.nav_title УЧАСТНИКИ
		.nav_project_children
		br
		b.nav_settings_title настройки
		//- .draft черновик
		.toggle_eng перевод
		br
		b.form_submit ОТПРАВИТЬ


block content
	a.back_link(href='/auth/edit/members') < Назад
	.title РЕДАКТИРОВАТЬ УЧАСТНИКА
	br
	form(action="", method="post", enctype="multipart/form-data")
		.form_title Имя:
		input.ru(type="text", name="ru[name]", value=member.ru.name)
		input.en(type="text", name="en[name]", value=member.en.name, disabled)
		.form_title Описание:
		textarea.ru(name="ru[description]", rows="8",)= member.ru.description
		textarea.en(name="en[description]", rows="8", disabled)= member.en.description
		.form_title Статус:
		.snake
			input.back(type="button", value="<")
			each status in member.status
				select(name='status')
					option(value='actor', selected=status=='actor') Актер
					option(value='director', selected=status=='director') Режисер
					option(value='author', selected=status=='author') Автор
					option(value='playwright', selected=status=='playwright') Драматург
					option(value='choreographer', selected=status=='choreographer') Хореограф
					option(value='composer', selected=status=='composer') Композитор
					option(value='photographer', selected=status=='photographer') Фотограф
					option(value='artist', selected=status=='artist') Художник
					option(value='producer', selected=status=='producer') Продюссер
					option(value='curator', selected=status=='curator') Куратор
					option(value='lecturer', selected=status=='lecturer') Лектор
					option(value='theoretician', selected=status=='theoretician') Теоретик
					option(value='art_director', selected=status=='art_director') Художественный руководитель
					option(value='sub_director', selected=status=='sub_director') Помощник режиссера
					option(value='tech_director', selected=status=='tech_director') Технический директор
					option(value='video_artist', selected=status=='video_artist') Видеохудожник
					option(value='audio_director', selected=status=='audio_director') Звукорежиссер
					option(value='multi_artist', selected=status=='multi_artist') Мультимедиахудожник
					option(value='scenographer', selected=status=='scenographer') Сценограф
					option(value='consultant', selected=status=='consultant') Консультант
					option(value='effects', selected=status=='effects') Спецэффекты
			input.forward(type="button", value=">")
		.form_title Фото:
		input(type="file", name="img")