extends ../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/afisha.css')

block content_scripts
	script(type='text/javascript', src='/scripts/afisha.js')
	script(type='text/javascript', src='/scripts/masonry.pkgd.min.js')

block content_right

- var director = false
- var author = false
- var playwright = false
- var actors = false

block content
	each date in schedule
		.afisha_item_block
			.afisha_date_block= date.date.getDate() + '.' + (date.date.getMonth()+1)
			.afisha_events_block
				each event in date.events
					.afisha_description_block
						.afisha_schedule_block
							.afisha_time= event.time.hours + ':' + event.time.minutes
							.afisha_hall= event.event.hall
						.afisha_event
							if (event.premiere == 'true')
								.premiere премьера
							.title= event.event.ru.title.toUpperCase()
							.s_title= event.event.ru.s_title.toUpperCase()
							each member in event.event.members
								if (member.c_status == 'director')
									if (!director)
										director = true
										|режисер:
									.director= member.m_id.ru.name
								if (member.c_status == 'author')
									if (!author)
										author = true
										|автор:
									.author= member.m_id.ru.name
								if (member.c_status == 'playwright')
									if (!playwright)
										playwright = true
										|драматург:
									.playwright= member.m_id.ru.name
						each member in event.event.members
							if (member.c_status == 'director')
						.actors
							each member in event.event.members
								if (member.c_status == 'actor')
									if (!actors)
										actors = true
										|исполнители:
									.actor= member.m_id.ru.name
						.comment
							!= event.event.ru.comment
						//- .clearfix