extends ../layout

block paths
	- month = month == 12 ? 0 : month
	- var title = 'АФИША | ' + months[month]
	- var menu_afisha = ' / ' + months[month].toLowerCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/afisha.css' + version)
	//- link(rel='stylesheet', type='text/css', href='/styles/afisha_colors.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/afisha.js' + version)

block content_right

- var director = false
- var lecturer = false
- var author = false
- var playwright = false
- var actors = false

mixin getSchedule(date, out)
	.afisha_item_block(class=out ? 'out' : '')
		.afisha_date_block= days[date.show.day - 1] + '.' + ('0' + date.show.date).slice(-2)
		.afisha_events_block
			each event in date.events
				.afisha_description_block
					.afisha_schedule_block
						.afisha_time= ('0' + event.time.hours).slice(-2) + ':' + ('0' + event.time.minutes).slice(-2)
						.afisha_hall= hall[event.event.hall]
						if (!out)
							a.afisha_ticket.ticket_none(href='tel:+7 (495) 363-10-48', class=event._show_id, rel='nofollow') в кассе
					.afisha_all_block
						.afisha_tags_block
							if (event.meta.premiere == true)
								.tag.premiere ПРЕМЬЕРА
							each project in projects
								each p_event in project.events
									if (p_event.toString() == event.event._id.toString())
										.tag(class=project._id)= project.ru.title.toUpperCase()
							each category in event.event.category
								if (category != 'performance')
									.tag(class=category)= categorys[category]
						.afisha_event
							a.title(href='/event/' + event.event._id)= event.event.ru.title.toUpperCase()
							.s_title= event.event.ru.s_title.toUpperCase()
							each member in event.event.members
								if (member.c_status == 'lecturer')
									if (!lecturer)
										lecturer = true
										span= 'Лектор: '
									a.member(href='/member/' + member.m_id._id)= member.m_id.ru.name + ' '
									br
								if (member.c_status == 'director')
									if (!director)
										director = true
										span= 'Режиссер: '
									a.member(href='/member/' + member.m_id._id)= member.m_id.ru.name + ' '
									br
								if (member.c_status == 'author')
									if (!author)
										author = true
										span= 'Автор: '
									a.member(href='/member/' + member.m_id._id)= member.m_id.ru.name + ' '
									br
								if (member.c_status == 'playwright')
									if (!playwright)
										playwright = true
										span= 'Драматург: '
									a.member(href='/member/' + member.m_id._id)= member.m_id.ru.name + ' '

						.actors
							each member in event.event.members
								if (member.c_status == 'actor')
									if (!actors)
										actors = true
										span= 'Исполнители: '
										br
									a.member(href='/member/' + member.m_id._id)= member.m_id.ru.name
									br
						.comment
							!= event.event.ru.comment


block content
	if (schedule.length == 0)
		.afisha_no_schedule_block НЕТ РАСПИСАНИЯ
	else
		- var now = new Date()
		- var first_date = now.getMonth() == month ? now.getDate() : '1'
		- var last_date = new Date(year, (month+1), 0).getDate()
		- now.setDate(now.getDate() - 1)
		- now.setMonth(now.getMonth() + 1)
		.afisha_actual_block(interval_start=year + '-' + ('0' + (month + 1)).slice(-2) + '-' + ('0' + first_date).slice(-2), interval_end=year + '-' + ('0' + (month + 1)).slice(-2) + '-' + ('0' + last_date).slice(-2))
			each date in schedule
				- var current = new Date(date.show.year, date.show.month, date.show.date)
				if (current > now)
					+getSchedule(date, false)
		.afisha_separator_block
			//- a.separator_title(href='/afisha/archive') АРХИВ
			.separator_title АРХИВ
			.separator_line
		.afisha_archive_block
			each date in schedule.reverse()
				- var current = new Date(date.show.year, date.show.month, date.show.date)
				if (current < now)
					+getSchedule(date, true)