extends ../layout

block title
	title АФИША

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/afisha.css')
	//- link(rel='stylesheet', type='text/css', href='/styles/afisha_colors.css')

block content_scripts
	script(type='text/javascript', src='/scripts/afisha.js')
	script(type='text/javascript', src='/scripts/masonry.pkgd.min.js')

block content_right

- var director = false
- var author = false
- var playwright = false
- var actors = false

block content
	each date in schedule
		.afisha_item_block
			- var days = ['ВС','ПН','ВТ','СР','ЧТ','ПТ','СБ']
			- var d = date.date.getDate()
			if (d < 10)
				- d = '0' + d
			.afisha_date_block= days[date.date.getDay()] + '.' + d
			.afisha_events_block
				each event in date.events
					.afisha_description_block
						//- if (event.premiere == 'true')
							.premiere ПРЕМЬЕРА
						.afisha_schedule_block
							.afisha_time= event.time.hours + ':' + event.time.minutes
							- var hall = {'main': 'основная сцена', 'black': 'черный зал', 'white': 'белый зал', 'cafe': 'кафе', 'lobby': 'фойе', '301': 'комната 301', '306': 'комната 306'}
							.afisha_hall= hall[event.event.hall]
						//- if (event.premiere == 'true')
							.premiere ПРЕМЬЕРА
						.afisha_event
							if (event.premiere == 'true')
								.premiere ПРЕМЬЕРА
							a.title(href='/event/' + event.event._id)= event.event.ru.title.toUpperCase()
							.s_title= event.event.ru.s_title.toUpperCase()
							each member in event.event.members
								if (member.c_status == 'director')
									if (!director)
										director = true
										|Режисер:&nbsp;
									b.member= member.m_id.ru.name + ' '
									br
								if (member.c_status == 'author')
									if (!author)
										author = true
										|Автор:&nbsp;
									b.member= member.m_id.ru.name + ' '
									br
								if (member.c_status == 'playwright')
									if (!playwright)
										playwright = true
										|Драматург:&nbsp;
									b.member= member.m_id.ru.name + ' '
						each member in event.event.members
							if (member.c_status == 'director')
						.actors
							each member in event.event.members
								if (member.c_status == 'actor')
									if (!actors)
										actors = true
										|Исполнители:
									.member= member.m_id.ru.name
						.comment
							!= event.event.ru.ticket
						//- .clearfix