extends ../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add_member.css')

block content_scripts
	script(type='text/javascript', src='/scripts/schedule.js')

block content_right


block content
	.form_block
		h2 Добавить события
		a(href='/auth/add/schedule/' + result[0].date.getFullYear()) назад
		br
		br
		form(action="", method="post", enctype="multipart/form-data")
			.form_title События
			br
			each ev in result[0].events
				b= ev.time.hours + ':' + ev.time.minutes + ' '
				if (ev.banner)
					b= '(банер) '
				if (ev.premiere)
					b= '(премьера) '
				b= ev.event.ru.title
				br
				br
			.snake
				input(type='checkbox', name='events[0][banner]', value='true')
				|баннер
				input(type='checkbox', name='events[0][premiere]', value='true')
				|премьера
				select(name='events[0][time][hours]')
					option(value='') Часы
					- for (var i=0; i<24; i++)
						option(value=i)= i
				select(name='events[0][time][minutes]')
					option(value='') Минуты
					option(value='00') 00
					- for (var i=10; i<60; i+=10)
						option(value=i)= i
				select(name='events[0][event]')
					option(value='') Событие
					each event in events
						option(value=event._id)= event.ru.title
			br
			input.plus(type="button", value="-")
			input.minus(type="button", value="+")
			br
			br
			input(type="submit", value="Добавить")