extends ../layout

block paths
	- var title = 'ЦИМ | НОВОСТИ'

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/main.js' + version)
	script(type='text/javascript', src='/scripts/jquery.parallax.js' + version)

block content_right
	.tag_navigator
		.tag_title НОВОСТИ
		.tag_item.all все
		.tag_title
		.tag_item.performance спектакль
		.tag_item.lecture лекция
		.tag_item.masterclass мастер-класс
		.tag_item.exhibition выставка
		.tag_item.concert концерт
		.tag_item.storytallyng сторителлинг
		.tag_title
		.tag_item.education институт театра
		.tag_item.blackbox blackbox
		.tag_item.children детский цим

mixin trimString(str)
	- for (var i = 150; i < str.length; i++) {
		- if (str[i] == '.' || str[i] == '?' || str[i] == '!') {
			str = str.substr(0, i+1)
		- }
	- }
	!= str

mixin infiniteItem(item)
	.infinite-item(class=item.status ? item.status : '')
		a.item_title(href='/news/' + item._id)= item.ru.title.toUpperCase()
		- var date = item.date.getDate() < 10 ? '0' + item.date.getDate() : item.date.getDate()
		- var month = (item.date.getMonth() + 1) < 10 ? '0' + (item.date.getMonth() + 1) : (item.date.getMonth() + 1)
		.item_date= date + ' ⋅ ' + month
		if (item.poster)
			img.item_img(src=item.poster)
		else
			.item_body
				if (item.ru.title.length < 20)
					+trimString(item.ru.body)

block content
	.main_poster_block
		.main_poster_img(style=schedule.length == 0 ? 'height: 700px;' : '')
			if (schedule.length > 0)
				img.layer.image(src='')
			else
				.layer
				.main_poster_skip
					each item in afisha_items
						a(href='/afisha/' + item.year + '/' + item.month)
							.cal_title.cal_title_big= months[item.month - 1]
			each event in schedule
				if (event.event.photos.length > 0)
					img.hide(src=event.event.photos[0].path)
			.layer.round(style=schedule.length == 0 ? 'background-color: white;' : '')
		if (schedule.length > 0)
			each event in schedule
				if (event.event.photos.length > 0)
					.main_poster_cal
						.cal_date= days[event.date.getDay()] + '.' + ('0' + event.date.getDate()).slice(-2)
						.cal_schedule
							.cal_time= ('0' + event.date.getHours()).slice(-2) + ':' + ('0' + event.date.getMinutes()).slice(-2)
							.cal_hall= hall[event.event.hall]
							//- if (event.ticket)
								a.cal_ticket(href=event.ticket, rel='nofollow', target='_blank') купить билет
						a(href='/event/' + event.event._id)
							.cal_title(class=event.event.ru.title.length < 10 ? 'cal_title_big' : '')= event.event.ru.title.toUpperCase()
	.pin_news_block
		.pin_news_scroll
			each pin in pins
				a.pin_news(href='/news/' + pin._id)= pin.ru.title.toUpperCase()

	.infinite-container
		.infinite-column
			if (news[0])
				+infiniteItem(news[0])
			if (news[3])
				+infiniteItem(news[3])
		.infinite-column
			if (news[1])
				+infiniteItem(news[1])
			if (news[4])
				+infiniteItem(news[4])
		.infinite-column
			if (news[2])
				+infiniteItem(news[2])
			if (news[5])
				+infiniteItem(news[5])
	.loader.active Еще новости...