extends ../layout

block title
	title ЦИМ | НОВОСТИ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css')

block content_scripts
	script(type='text/javascript', src='/scripts/main.js')
	script(type='text/javascript', src='/scripts/jquery.parallax.js')

block content_right
	.tag_navigator
		b.tag_item.all все
		br
		b.tag_item.performance спектакль

mixin trimString(str)
	- for (var i = 150; i < str.length; i++) {
		- if (str[i] == '.' || str[i] == '?' || str[i] == '!') {
			str = str.substr(0, i+1)
		- }
	- }
	!= str

mixin infiniteItem(item)
	.infinite-item
		a.item_link(href='/news/' + item._id)
			.item_title #{item.ru.title.toUpperCase()}
		.item_date
			- var date = item.date.getDate()
			- var month = item.date.getMonth()+1
			if (date < 10)
				- date = '0' + date
			if (month < 10)
				- month = '0' + month
			p= date
			p.dot= '.'
			p= month
		if (item.poster)
			img.item_img(src=item.poster)
		else
			.item_body
				if (item.ru.title.length < 20)
					+trimString(item.ru.body)

block content
	.main_poster_block
		.main_poster_img
			img.layer.image(src=schedule[0].events[0].event.photo)
			each date in schedule
				each event in date.events
					if (event.banner == 'true')
						img.hide(src=event.event.photo)
			.layer.round
		each date in schedule
			each event in date.events
				if (event.banner == 'true')
					.main_poster_cal
						- var days = ['ВС','ПН','ВТ','СР','ЧТ','ПТ','СБ']
						- var d = date.date.getDate()
						if (d < 10)
							- d = '0' + d
						.cal_date= days[date.date.getDay()] + '.' + d
						- var hall = {'main': 'основная сцена', 'black': 'черный зал', 'white': 'белый зал', 'cafe': 'кафе', 'lobby': 'фойе', '301': 'комната 301', '306': 'комната 306'}
						.cal_schedule
							.cal_time= event.time.hours + ':' + event.time.minutes
							.cal_hall= hall[event.event.hall]
						a(href='/event/' + event.event._id)
							.cal_title= event.event.ru.title.toUpperCase()
	.infinite-container
		.infinite-column
			if (news[0])
				+infiniteItem(news[0])
			if (news[3])
				+infiniteItem(news[3])
		.infinite-column
			if (news[1])
				+infiniteItem(news[1])
			if (news[4])
				+infiniteItem(news[4])
		.infinite-column
			if (news[2])
				+infiniteItem(news[2])
			if (news[5])
				+infiniteItem(news[5])
	.loader