extends ../../../layout

block title
	title= 'РЕДАКТОР : ' + event.ru.title.toUpperCase()

block content_style
	link(rel="stylesheet", type="text/css", href="/styles/edit.css" + version)
	link(rel='stylesheet', type='text/css', href='/styles/content.css' + version)
	link(rel="stylesheet", type="text/css", href="/styles/font-awesome/css/font-awesome.min.css" + version)
	link(rel="stylesheet", type="text/css", href="/styles/popclip.css" + version)

block content_scripts
	script(type='text/javascript', src='/scripts/edit.js' + version)
	//- script(type='text/javascript', src='/scripts/back.js' + version)
	script(type='text/javascript', src='/scripts/mfupload.js' + version)
	script(type="text/javascript", src='/scripts/jquery.popline.min.js' + version)
	script(type="text/javascript", src='/scripts/jquery-ui-1.10.3.custom.min.js' + version)

block content_right
	.content_right_block
		.ticket(contenteditable)
			!= event.ru.ticket
		.settings ПАРАМЕТРЫ
			.s_item.toggle_lang язык
			.s_item.toggle_grid направляющие
			.s_item.empty_colums пустые колонки
			br
			.s_cat зал:
			select.hall(name='hall')
				option(value='main', selected=event.hall=='main') основная сцена
				option(value='black', selected=event.hall=='black') черный зал
				option(value='white', selected=event.hall=='white') белый зал
				option(value='cafe', selected=event.hall=='cafe') кафе
				option(value='lobby', selected=event.hall=='lobby') фойе
				option(value='301', selected=event.hall=='301') комната 301
				option(value='306', selected=event.hall=='306') комната 306
			.s_cat категория:
			select.tag(name='tag')
				option(value='performance', selected=event.tag=='performance') спектакль
				option(value='lecture', selected=event.tag=='lecture') лекция
				option(value='masterclass', selected=event.tag=='masterclass') мастер-класс
				option(value='exhibition', selected=event.tag=='exhibition') выставка
				option(value='concert', selected=event.tag=='concert') концерт
				option(value='education', selected=event.tag=='education') институт театра
				option(value='blackbox', selected=event.tag=='blackbox') blackbox
				option(value='children', selected=event.tag=='children') детская программа
				option(value='storytallyng', selected=event.tag=='storytallyng') сторителлинг
		.upload СОХРАНИТЬ

mixin memberList(marker, status)
	.marker(class=status)
		.m_title= marker + ':'
		.m_edit= '⊙'
		.m_list
			each member in event.members
				if (member.c_status == status)
					a(href= '/member/' + member.m_id._id, id=member.m_id._id)= member.m_id.ru.name
					.m_comment(lang='ru', contenteditable='true')= member.comment.ru

block content
	//- img(src=event.photo)
	if (event.photo)
		.image_upload(style='background-image: url(' + event.photo + ')')
			.p_author
				.a_title Фото:
				.a_name(contenteditable='plaintext-only')= event.ru.p_author
			input(type='file', name='image', data-post='/', data-crop='true')
	else
		.image_upload
			input(type='file', name='image', data-post='/', data-crop='true')
	.content_body
		.title(lang='ru', contenteditable)= event.ru.title.toUpperCase()
		if (event.ru.s_title)
			.s_title(lang='ru', contenteditable)= event.ru.s_title.toUpperCase()
		.members
			if (event.meta.columns.one.length > 0 && event.meta.columns.two.length > 0)
				.column#one
					each column, i in event.meta.columns.one
						+memberList(column.marker, column.status)
				.column#two
					each column, i in event.meta.columns.two
						+memberList(column.marker, column.status)
			else
				.column#one
					+memberList('Режиссер', 'director')
					+memberList('Автор', 'author')
					+memberList('Драматург', 'playwright')
					+memberList('Хореограф', 'choreographer')
					+memberList('Композитор', 'composer')
					+memberList('Художник', 'artist')
					+memberList('Исполнители', 'actor')
					+memberList('Продюсер', 'producer')
					+memberList('Куратор', 'curator')
					+memberList('Лектор', 'lecturer')
					+memberList('Теоретик', 'theoretician')
					+memberList('Художественный руководитель', 'art_director')
					+memberList('Сценограф', 'scenographer')
				.column#two
					+memberList('Фотограф', 'photographer')
					+memberList('Помощник режисера', 'sub_director')
					+memberList('Технический директор', 'tech_director')
					+memberList('Видеохудожник', 'video_artist')
					+memberList('Художник по свету', 'light_artist')
					+memberList('Звукорежисер', 'audio_director')
					+memberList('Мультимедиахудожник', 'multi_artist')
					+memberList('Консультант', 'consultant')
					+memberList('Спецэффекты', 'effects')
			.s_column
				.age(contenteditable)= event.age
				.duration(contenteditable)= event.duration
				.comment(contenteditable)
					!= event.ru.comment
		.description(lang='ru', contenteditable)
			!= event.ru.body