extends ../../../layout

block title
	title= event.ru.title.toUpperCase()

block content_style
	link(rel="stylesheet", type="text/css", href="/styles/edit.css")
	link(rel='stylesheet', type='text/css', href='/styles/content.css' + version)
	link(rel="stylesheet", type="text/css", href="/styles/font-awesome/css/font-awesome.min.css" + version)
	link(rel="stylesheet", type="text/css", href="/styles/popclip.css" + version)

block content_scripts
	script(type='text/javascript', src='/scripts/edit.js' + version)
	script(type='text/javascript', src='/scripts/back.js' + version)
	script(type='text/javascript', src='/scripts/mfupload.js' + version)
	script(type="text/javascript", src='/scripts/jquery.popline.min.js' + version)

block content_right
	.content_right_block
		.ticket(contenteditable)
			!= event.ru.ticket
		.settings ПАРАМЕТРЫ
			.s_item.toggle_lang язык
			.s_item.toggle_grid направляющие
		.upload ОТПРАВИТЬ

//- mixin memberList(marker, status)
//- 	- var flag = false
//- 	each member in event.members
//- 		if (member.c_status == status)
//- 			if (!flag)
//- 				.marker= marker + ':'
//- 			- flag = true
//- 			a(href= '/member/' + member.m_id._id)
//- 				b= member.m_id.ru.name
//- 			br


mixin memberList(marker, status)
	.marker(class=status)
		.m_title= marker + ':'
		.m_edit= '+'
		br
	each member in event.members
		if (member.c_status == status)
			a(href= '/member/' + member.m_id._id)
				b= member.m_id.ru.name
			br

block content
	//- img(src=event.photo)
	if (event.photo)
		.image_upload(style='background-image: url(' + event.photo + ')')
			input(type='file', name='image', data-post='/', data-crop='true')
	else
		.image_upload
			input(type='file', name='image', data-post='/', data-crop='true')
	.event_body
		.title(lang='ru', contenteditable)= event.ru.title.toUpperCase()
		if (event.ru.s_title)
			.s_title(lang='ru', contenteditable)= event.ru.s_title.toUpperCase()
		.members
			.column
				.add
				.list
					+memberList('Режиссер', 'director')
					+memberList('Автор', 'author')
					+memberList('Драматург', 'playwright')
					+memberList('Хореограф', 'choreographer')
					+memberList('Композитор', 'composer')
					+memberList('Художник', 'artist')
					+memberList('Исполнители', 'actor')
					+memberList('Продюсер', 'producer')
					+memberList('Куратор', 'curator')
					+memberList('Лектор', 'lecturer')
					+memberList('Теоретик', 'theoretician')
					+memberList('Художественный руководитель', 'art_director')
					+memberList('Сценограф', 'scenographer')
			.column
				.add
				.list
					+memberList('Фотограф', 'photographer')
					+memberList('Помощник режисера', 'sub_director')
					+memberList('Технический директор', 'tech_director')
					+memberList('Видеохудожник', 'video_artist')
					+memberList('Художник по свету', 'light_artist')
					+memberList('Звукорежисер', 'audio_director')
					+memberList('Мультимедиахудожник', 'multi_artist')
					+memberList('Консультант', 'consultant')
					+memberList('Спецэффекты', 'effects')
			//- if (event.ru.comment)
			.comment(contenteditable)
				!= event.ru.comment
		.description(lang='ru', contenteditable)
			!= event.ru.body