extends ../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add.js')

block content_right
	.navigator
		.nav_title НОВОСТЬ
		.nav_project_children
		br		
		b.nav_settings_title настройки
		//- .draft черновик
		.toggle_eng перевод
		br
		b.form_submit ОТПРАВИТЬ	

block content
	.form_block
		h2 Конструктор событий
		br
		a(href='/auth') назад
		br
		.news_convert НОВОСТЬ
		br
		br
		form(action="/auth/add/event", method="post", enctype="multipart/form-data")
			input.news_tag(type="hidden", name="tag", value="news")
			.form_title Заголовок:
			input.ru(type="text", name="ru[title]",)
			input.en(type="text", name="en[title]", disabled)
			.form_title Подзаголовок:
			input.ru(type="text", name="ru[s_title]",)
			input.en(type="text", name="en[s_title]", disabled)
			.form_title Описание:
			textarea.ru(name="ru[body]", rows="8",)
			textarea.en(name="en[body]", rows="8", disabled)
			.form_title Постер:
			input(type="file", name="poster")
			.form_title Фото:
			input(type="file", name="photo")				
			.form_title Автор фото:
			input.ru(type="text", name="ru[p_author]",)
			input.en(type="text", name="en[p_author]", disabled)				
			br
			br
			.event_convert СОБЫТИЕ
			br
			br
			.form_block_event
				.form_title Режисер:
				.snake
					input.back(type="button", value="<")
					select(name='event[members]', disabled)
						option(value='') нет
						each member in members
							if (member.status == 'director')
								option(value=member._id)= member.ru.name
					input.forward(type="button", value=">")									
				.form_title Драматург:
				.snake
					input.back(type="button", value="<")
					select(name='event[members]', disabled)
						option(value='') нет
						each member in members
							if (member.status == 'playwright')
								option(value=member._id)= member.ru.name		
					input.forward(type="button", value=">")															
				.form_title Художественный руководитель:
				.snake
					input.back(type="button", value="<")
					select(name='event[members]', disabled)
						option(value='') нет
						each member in members
							if (member.status == 'art_director')
								option(value=member._id)= member.ru.name
					input.forward(type="button", value=">")									
				.form_title Куратор:
				.snake
					input.back(type="button", value="<")
					select(name='event[members]', disabled)
						option(value='') нет
						each member in members
							if (member.status == 'curator')
								option(value=member._id)= member.ru.name
					input.forward(type="button", value=">")													
				.form_title Фотограф:
				.snake
					input.back(type="button", value="<")
					select(name='event[members]', disabled)
						option(value='') нет
						each member in members
							if (member.status == 'photographer')
								option(value=member._id)= member.ru.name
					input.forward(type="button", value=">")									
				.form_title Художник:
				.snake
					input.back(type="button", value="<")
					select(name='event[members]', disabled)
						option(value='') нет
						each member in members
							if (member.status == 'artist')
								option(value=member._id)= member.ru.name
					input.forward(type="button", value=">")									
				.form_title Композитор:
				.snake
					input.back(type="button", value="<")
					select(name='event[members]', disabled)
						option(value='') нет
						each member in members
							if (member.status == 'composer')
								option(value=member._id)= member.ru.name
					input.forward(type="button", value=">")															
				.form_title Хореограф:
				.snake
					input.back(type="button", value="<")
					select(name='event[members]', disabled)
						option(value='') нет
						each member in members
							if (member.status == 'choreographer')							
								option(value=member._id)= member.ru.name
					input.forward(type="button", value=">")									
				.form_title Продюссер:
				.snake
					input.back(type="button", value="<")
					select(name='event[members]', disabled)
						option(value='') нет
						each member in members
							if (member.status == 'producer')
								option(value=member._id)= member.ru.name
					input.forward(type="button", value=">")
				.form_title Теоретик:
				.snake
					input.back(type="button", value="<")
					select(name='event[members]', disabled)
						option(value='') нет
						each member in members
							if (member.status == 'theoretician')
								option(value=member._id)= member.ru.name
					input.forward(type="button", value=">")
				.form_title Лектор:
				.snake
					input.back(type="button", value="<")
					select(name='event[members]', disabled)
						option(value='') нет
						each member in members
							if (member.status == 'lecturer')
								option(value=member._id)= member.ru.name
					input.forward(type="button", value=">")								
				.form_title Актеры:
				.snake
					input.back(type="button", value="<")
					select(name='event[members]', disabled)
						option(value='') нет
						each member in members
							if (member.status == 'actor')
								option(value=member._id)= member.ru.name
					input.forward(type="button", value=">")
				.form_title Категория:
				select(name='tag', disabled)
					option(value='performance') спектакль
					option(value='lecture') лекция
					option(value='masterclass') мастер-класс
					option(value='exhibition') выставка
					option(value='concert') концерт
					option(value='education') институт театра
					option(value='blackbox') blackbox
					option(value='children') детская программа
					option(value='storytallyng') сторителлинг
				.form_title Зал:
				select(name='event[hall]', disabled)
					option(value='main') основная сцена
					option(value='black') черный зал
					option(value='white') белый зал
					option(value='cafe') кафе
					option(value='lobby') фойе
					option(value='301') комната 301
					option(value='306') комната 306
				.form_title Дата:
				select(name='event[cal][date]', disabled)
					option(value='') Дата
					- for (var i=1; i<32; i++)
						option(value=i)= i
				select(name='event[cal][month]', disabled)
					option(value='') Месяц
					- var months = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'];
					each month, i in months
						option(value=i)= month
				select(name='event[cal][year]', disabled)
					option(value='') Год
					option(value='2013') 2013
					option(value='2014') 2014									
				br
				br	
				.project_convert СПЕЦПРОЕКТ
				br
				br
				.form_block_project
					.children
						.child
							h2.child_counter Событие 1
							.form_title Заголовок:
							input.ru(type="text", name="children[0][ru][title]", disabled)
							input.en(type="text", name="children[0][en][title]", disabled)
							.form_title Подзаголовок:
							input.ru(type="text", name="children[0][ru][s_title]", disabled)
							input.en(type="text", name="children[0][en][s_title]", disabled)
							.form_title Описание:
							textarea.ru(name="children[0][ru][body]", rows="8", disabled)
							textarea.en(name="children[0][en][body]", rows="8", disabled)
							.form_title Фото:
							input(type="file", name="children[0][photo]", disabled)
							.form_title Автор фото:
							input.ru(type="text", name="children[0][ru][p_author]", disabled)
							input.en(type="text", name="children[0][en][p_author]", disabled)												
							.form_title Режисер:
							.snake
								select(name='children[0][members]', disabled)
									option(value='') нет
									each member in members
										if (member.status == 'director')
											option(value=member._id)= member.ru.name
								input.back(type="button", value="-")
								input.forward(type="button", value="+")												
							.form_title Драмматург:
							.snake
								select(name='children[0][members]', disabled)
									option(value='') нет
									each member in members
										if (member.status == 'playwright')
											option(value=member._id)= member.ru.name
								input.back(type="button", value="-")
								input.forward(type="button", value="+")																	
							.form_title Художественный руководитель:
							.snake
								select(name='children[0][members]', disabled)
									option(value='') нет
									each member in members
										if (member.status == 'art_director')
											option(value=member._id)= member.ru.name
								input.back(type="button", value="-")
								input.forward(type="button", value="+")												
							.form_title Куратор:
							.snake
								select(name='children[0][members]', disabled)
									option(value='') нет
									each member in members
										if (member.status == 'curator')
											option(value=member._id)= member.ru.name
								input.back(type="button", value="-")
								input.forward(type="button", value="+")																
							.form_title Фотограф:
							.snake
								select(name='children[0][members]', disabled)
									option(value='') нет
									each member in members
										if (member.status == 'photographer')
											option(value=member._id)= member.ru.name
								input.back(type="button", value="-")
								input.forward(type="button", value="+")											
							.form_title Художник:
							.snake
								select(name='children[0][members]', disabled)
									option(value='') нет
									each member in members
										if (member.status == 'artist')
											option(value=member._id)= member.ru.name
								input.back(type="button", value="-")
								input.forward(type="button", value="+")												
							.form_title Композитор:
							.snake
								select(name='children[0][members]', disabled)
									option(value='') нет
									each member in members
										if (member.status == 'composer')
											option(value=member._id)= member.ru.name
								input.back(type="button", value="-")
								input.forward(type="button", value="+")																		
							.form_title Хореограф:
							.snake
								select(name='children[0][members]', disabled)
									option(value='') нет
									each member in members
										if (member.status == 'choreographer')							
											option(value=member._id)= member.ru.name
								input.back(type="button", value="-")
								input.forward(type="button", value="+")												
							.form_title Продюссер:
							.snake
								select(name='children[0][members]', disabled)
									option(value='') нет
									each member in members
										if (member.status == 'producer')
											option(value=member._id)= member.ru.name
								input.back(type="button", value="-")
								input.forward(type="button", value="+")											
							.form_title Актеры:
							.snake
								select(name='children[0][members]', disabled)
									option(value='') нет
									each member in members
										if (member.status == 'actor')
											option(value=member._id)= member.ru.name				
								input.back(type="button", value="-")
								input.forward(type="button", value="+")																						
							.form_title Зал:
							select(name='children[0][hall]', disabled)
								option(value='main') основная сцена
								option(value='black') черный зал
								option(value='white') белый зал
								option(value='cafe') кафе
								option(value='lobby') фойе
								option(value='301') комната 301
								option(value='306') комната 306
							.form_title Дата:
							select(name='children[0][cal][date]', disabled)
								option(value='') Дата
								- for (var i=1; i<32; i++)
									option(value=i)= i
							select(name='children[0][cal][month]', disabled)
								option(value='') Месяц
								- var months = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'];
								each month, i in months
									option(value=i)= month
							select(name='children[0][cal][year]', disabled)
								option(value='') Год
								option(value='2013') 2013
								option(value='2014') 2014												
					br
					br
					.add_child добавить событие
					br
					br
				br