extends ../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add.js')

block content_right
	.navigator
		.nav_title СОБЫТИЕ
		.nav_project_children
		br		
		b.nav_settings_title настройки
		//- .draft черновик
		.toggle_eng перевод
		br
		b.form_submit ОТПРАВИТЬ	

mixin eventField(st)
	.snake
		input.back(type="button", value="<")
		select(name='event[members]')
			option(value='') нет
			each member in members
				each status in member.status
					if (status == st)
						option(value=member._id + '-' + st)= member.ru.name
		input.forward(type="button", value=">")

mixin projectField(st)
	.snake
		input.back(type="button", value="<")
		select(name='children[0][members]', disabled)
			option(value='') нет
			each member in members
				each status in member.status
					if (status == st)
						option(value=member._id + '-' + st)= member.ru.name
		input.forward(type="button", value=">")			

block content
	.form_block
		h2 Конструктор событий
		br
		a(href='/auth') назад
		br
		.event_convert СОБЫТИЕ
		br
		br
		form(action="/auth/add/event", method="post", enctype="multipart/form-data")
			.form_title Заголовок:
			input.ru(type="text", name="ru[title]",)
			input.en(type="text", name="en[title]", disabled)
			.form_title Подзаголовок:
			input.ru(type="text", name="ru[s_title]",)
			input.en(type="text", name="en[s_title]", disabled)
			.form_title Описание:
			textarea.ru(name="ru[body]", rows="8",)
			textarea.en(name="en[body]", rows="8", disabled)
			.form_title Постер:
			input(type="file", name="poster")
			.form_title Фото:
			input(type="file", name="photo")				
			.form_title Автор фото:
			input.ru(type="text", name="ru[p_author]",)
			input.en(type="text", name="en[p_author]", disabled)
			br
			br
			h3 Участники
			br
			.form_block_event
				.form_title Режисер:
				+eventField('director')							
				.form_title Драматург:
				+eventField('playwright')
				.form_title Художественный руководитель:
				+eventField('art_director')
				.form_title Куратор:
				+eventField('curator')										
				.form_title Фотограф:
				+eventField('photographer')						
				.form_title Художник:
				+eventField('artist')
				.form_title Композитор:
				+eventField('composer')														
				.form_title Хореограф:
				+eventField('choreographer')						
				.form_title Продюссер:
				+eventField('producer')
				.form_title Теоретик:
				+eventField('theoretician')
				.form_title Лектор:
				+eventField('lecturer')
				.form_title Актеры:
				+eventField('actor')
				br
				br
				h3 Параметры
				br
				.form_title Категория:
				select(name='tag')
					option(value='performance') спектакль
					option(value='lecture') лекция
					option(value='masterclass') мастер-класс
					option(value='exhibition') выставка
					option(value='concert') концерт
					option(value='education') институт театра
					option(value='blackbox') blackbox
					option(value='children') детская программа
					option(value='storytallyng') сторителлинг
				.form_title Зал:
				select(name='event[hall]')
					option(value='main') основная сцена
					option(value='black') черный зал
					option(value='white') белый зал
					option(value='cafe') кафе
					option(value='lobby') фойе
					option(value='301') комната 301
					option(value='306') комната 306
				.cal_block
					.form_title Дата:
					select(name='event[cal][date]')
						option(value='') Дата
						- for (var i=1; i<32; i++)
							option(value=i)= i
					select(name='event[cal][month]')
						option(value='') Месяц
						- var months = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'];
						each month, i in months
							option(value=i)= month
					select(name='event[cal][year]')
						option(value='') Год
						option(value='2013') 2013
						option(value='2014') 2014
					.form_title Время:	
					select(name='event[cal][hours]')
						option(value='') Часы
						- for (var i=0; i<24; i++)
							option(value=i)= i
					select(name='event[cal][minutes]')
						option(value='') Минуты
						- for (var i=0; i<60; i+=10)
							option(value=i)= i
				br
				br	
				.project_convert СПЕЦПРОЕКТ
				br
				br
				.form_block_project
					.children
						.child
							h2.child_counter Событие 1
							.form_title Заголовок:
							input.ru(type="text", name="children[0][ru][title]", disabled)
							input.en(type="text", name="children[0][en][title]", disabled)
							.form_title Подзаголовок:
							input.ru(type="text", name="children[0][ru][s_title]", disabled)
							input.en(type="text", name="children[0][en][s_title]", disabled)
							.form_title Описание:
							textarea.ru(name="children[0][ru][body]", rows="8", disabled)
							textarea.en(name="children[0][en][body]", rows="8", disabled)
							.form_title Фото:
							input(type="file", name="children[0][photo]", disabled)
							.form_title Автор фото:
							input.ru(type="text", name="children[0][ru][p_author]", disabled)
							input.en(type="text", name="children[0][en][p_author]", disabled)
							br
							br
							h3 Участники
							br																	
							.form_title Режисер:
							+projectField('director')							
							.form_title Драматург:
							+projectField('playwright')
							.form_title Художественный руководитель:
							+projectField('art_director')
							.form_title Куратор:
							+projectField('curator')										
							.form_title Фотограф:
							+projectField('photographer')						
							.form_title Художник:
							+projectField('artist')
							.form_title Композитор:
							+projectField('composer')														
							.form_title Хореограф:
							+projectField('choreographer')						
							.form_title Продюссер:
							+projectField('producer')
							.form_title Теоретик:
							+projectField('theoretician')
							.form_title Лектор:
							+projectField('lecturer')
							.form_title Актеры:
							+projectField('actor')
							br
							br
							h3 Параметры
							br
							.form_title Зал:
							select(name='children[0][hall]', disabled)
								option(value='main') основная сцена
								option(value='black') черный зал
								option(value='white') белый зал
								option(value='cafe') кафе
								option(value='lobby') фойе
								option(value='301') комната 301
								option(value='306') комната 306
							.form_title Дата:
							select(name='children[0][cal][date]', disabled)
								option(value='') Дата
								- for (var i=1; i<32; i++)
									option(value=i)= i
							select(name='children[0][cal][month]', disabled)
								option(value='') Месяц
								- var months = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'];
								each month, i in months
									option(value=i)= month
							select(name='children[0][cal][year]', disabled)
								option(value='') Год
								option(value='2013') 2013
								option(value='2014') 2014
							.form_title Время:	
							select(name='children[0][cal][hours]', disabled)
								option(value='') Часы
								- for (var i=0; i<24; i++)
									option(value=i)= i
							select(name='children[0][cal][minutes]', disabled)
								option(value='') Минуты
								- for (var i=0; i<60; i+=10)
									option(value=i)= i								
					br
					br
					.add_child добавить событие
					br
					br
				br