extends ../layout

block title
	title= event[0].ru.title.toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/content.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/event.js' + version)
	//- script(type='text/javascript', src='/scripts/back.js' + version)

block content_right
	.content_right_block
		if (event[0].ru.ticket)
			.ticket
				!= event[0].ru.ticket
		if (session.user_id)
			a.edit_btn(href='/auth/edit/events/' + event[0]._id, target='_blank') РЕДАКТИРОВАТЬ

block content_under
	.press_block
		each item in press
			.press_item
				a.press_author(href=item.link, target='_blank')= item.ru.author + ':'
				.press_body= '«' + item.ru.body + '»'

mixin memberList(marker, status)
	- var flag = false
	each member in event[0].members
		if (member.c_status == status)
			if (!flag)
				.marker(class=status)
					.m_title= marker + ':'
			- flag = true
					.m_list
						a(href= '/member/' + member.m_id._id, id=member.m_id._id)= member.m_id.ru.name
						.m_comment(lang='ru')= member.comment.ru

block content
	if (event[0].photo)
		.image_upload(style='background-image: url(' + event[0].photo + ')')
			if (event[0].ru.p_author)
				.p_author
					|Фото:
					br
					!= event[0].ru.p_author
	if (schedule.length > 0)
		.calendar
			.inner
				each date,i in schedule
					- var days = ['ВС','ПН','ВТ','СР','ЧТ','ПТ','СБ'];
					- var hall = {'main': 'основная сцена', 'black': 'черный зал', 'white': 'белый зал', 'cafe': 'кафе', 'lobby': 'фойе', '301': 'комната 301', '306': 'комната 306'}
					- var d = date.date.getDate()
					- d = d < 10 ? '0' + d : d
					.cal_date= days[date.date.getDay()] + '.' + d
					.cal_schedule
						.cal_time= date.events[0].time.hours + ':' + date.events[0].time.minutes
						.cal_hall= hall[event[0].hall]
					.cal_spacer
	.content_body
		.title(lang='ru')= event[0].ru.title.toUpperCase()
		if (event[0].ru.s_title)
			.s_title= event[0].ru.s_title.toUpperCase()
		.members
			.column
				+memberList('Режиссер', 'director')
				+memberList('Автор', 'author')
				+memberList('Драматург', 'playwright')
				+memberList('Хореограф', 'choreographer')
				+memberList('Композитор', 'composer')
				+memberList('Художник', 'artist')
				+memberList('Исполнители', 'actor')
				+memberList('Продюсер', 'producer')
				+memberList('Куратор', 'curator')
				+memberList('Лектор', 'lecturer')
				+memberList('Теоретик', 'theoretician')
				+memberList('Художественный руководитель', 'art_director')
				+memberList('Сценограф', 'scenographer')
			.column
				+memberList('Фотограф', 'photographer')
				+memberList('Помощник режисера', 'sub_director')
				+memberList('Технический директор', 'tech_director')
				+memberList('Видеохудожник', 'video_artist')
				+memberList('Художник по свету', 'light_artist')
				+memberList('Звукорежисер', 'audio_director')
				+memberList('Мультимедиахудожник', 'multi_artist')
				+memberList('Консультант', 'consultant')
				+memberList('Спецэффекты', 'effects')
			if (event[0].ru.comment)
				.comment
					!= event[0].ru.comment
		.description(lang='ru')
			!= event[0].ru.body